---
http_interactions:
- request:
    method: get
    uri: http://rubygems.org/api/v1/versions/dotify.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a8fa48b6b888c40b981c469ab95dac71"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '[{"authors":"Matt Bridges","built_at":"2012-07-19T00:00:00Z","description":"A
        CLI Tool for managing your dotfiles","downloads_count":171,"number":"0.6.6","summary":"A
        CLI Tool for managing your dotfiles","platform":"ruby","prerelease":false},{"authors":"Matt
        Bridges","built_at":"2012-07-14T00:00:00Z","description":"A CLI Tool for managing
        your dotfiles","downloads_count":123,"number":"0.6.5","summary":"A CLI Tool
        for managing your dotfiles","platform":"ruby","prerelease":false},{"authors":"Matt
        Bridges","built_at":"2012-07-13T00:00:00Z","description":"A CLI Tool for managing
        your dotfiles","downloads_count":98,"number":"0.6.4","summary":"A CLI Tool
        for managing your dotfiles","p[...]
[...]
