---
http_interactions:
- request:
    method: get
    uri: http://rubygems.org/api/v1/versions/dotify.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5677f4550f3cae2a62a538ddbdac5ed0"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '[{"authors":"Matt Bridges","built_at":"2012-06-26T00:00:00Z","description":"A
        CLI Tool for managing your dotfiles","downloads_count":45,"number":"0.2.0","summary":"A
        CLI Tool for managing your dotfiles","platform":"ruby","prerelease":false},{"authors":"Matt
        Bridges","built_at":"2012-06-26T00:00:00Z","description":"A CLI Tool for managing
        your dotfiles","downloads_count":70,"number":"0.1.1","summary":"A CLI Tool
        for managing your dotfiles","platform":"ruby","prerelease":false},{"authors":"Matt
        Bridges","built_at":"2012-06-25T00:00:00Z","description":"A CLI Tool for managing
        your dotfiles","downloads_count":47,"number":"0.1","summary":"A CLI Tool for
        managing your dotfiles","plat[...]
